@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter";
  font-weight: normal;
  @apply text-blue-900;
}

h1, h2, h3, a {
  @apply text-blue-800;
}

h1 {
  font-family: "Corben";
  font-weight: bold;
  @apply text-2xl mb-2;
}
h2 {
  font-family: "Inter";
  font-weight: bold;
  @apply text-xl;
}
h3 {
  font-family: "Inter";
  font-weight: bold;
  @apply text-lg;
}

a {
  @apply font-semibold;
}

.button {
  @apply text-xs tracking-wide rounded-md shadow-lg text-center;
}
